<div class="row"{% if include.id %} id="{{ include.id }}"{% endif %}>
  <div class="col-sm-5">
    <img class="contraceptives-app-img" src="/assets/images/svg/{{ include.img }}.svg">
  </div>
  <div class="col-sm-7">
    <div class="contraceptives-app-data">
      {% if include.title %}
      <h5>{{ include.title }}</h5>
      {% endif %}
      <div class="contraceptives-app-use">
        <p><strong class="contraceptives-app-data-use"></strong> usa algún método anticonceptivo <small>(X% más que la media mundial)</small></p>
        <p>Principal método: <strong class="contraceptives-app-data-main-method"></strong> <small>(lo usa el <span class="contraceptives-app-data-main-method-value"></span>)</small></p>
      </div>
      <div class="contraceptives-app-unmetneeds">
        <p><strong class="contraceptives-app-data-unmetneeds"></strong> Tiene necesidades no cubiertas <small>(X% menos que la media mundial)</small></p>
      </div>
      <div class="contraceptives-app-reason">
        <p><strong class="contraceptives-app-data-reason"></strong> es la razón principal <small>(afecta al <span class="contraceptives-app-data-reason-value"></span>)</small></p>
      </div>
    </div>
    {% if include.filters %}
    <div class="contraceptives-app-filters">
      <p>Filtra según</p>
      <p><a class="btn btn-default" href="#contraceptives-filter-0" role="button" title="Entorno urbano o rural">Entorno urbano o rural</a></p>
      <p><a class="btn btn-default" href="#contraceptives-filter-1" role="button" title="Edad">Edad</a></p>
      <p><a class="btn btn-default" href="#contraceptives-filter-2" role="button" title="N ivel de estudios">Nivel de estudios</a></p>
      <p><a class="btn btn-default" href="#contraceptives-filter-3" role="button" title="Nivel de renta">Nivel de renta</a></p>
    </div>
    {% endif %}
  </div>
</div>