<div id="contraceptives-reasons-opposed" class="bar-horizontal-graph bar-horizontal-stacked-graph">
  <div class="axis" style="left: 25%;"><span>25%</span></div>
  <div class="axis" style="left: 50%;"><span>50%</span></div>
  <div class="axis" style="left: 75%;"><span>75%</span></div>
  <div class="axis" style="left: 100%;"><span>100%</span></div>
  <div class="bar-container">
    <div class="bar-title">Timor-Leste</div>
    <div class="bar bar-respondent-opposed" style="width: 57.2923%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 25.0436%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 0.581058%;"></div>
    <div class="bar bar-others-opposed" style="width: 0.522952%;"></div>
    <span>83%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Albania</div>
    <div class="bar bar-respondent-opposed" style="width: 39.688%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 27.9029%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 0.17331%;"></div>
    <div class="bar bar-others-opposed" style="width: 0.519931%;"></div>
    <span>68%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Gambia</div>
    <div class="bar bar-respondent-opposed" style="width: 25.1538%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 12.7136%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 6.83527%;"></div>
    <div class="bar bar-others-opposed" style="width: 0.410116%;"></div>
    <span>45%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Tajikistan</div>
    <div class="bar bar-respondent-opposed" style="width: 25.7798%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 11.6514%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 1.19266%;"></div>
    <div class="bar bar-others-opposed" style="width: 1.2844%;"></div>
    <span>40%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Mali</div>
    <div class="bar bar-respondent-opposed" style="width: 8.97227%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 20.6362%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 6.36215%;"></div>
    <div class="bar bar-others-opposed" style="width: 2.93638%;"></div>
    <span>39%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Afghanistan</div>
    <div class="bar bar-respondent-opposed" style="width: 9.26043%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 18.7105%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 7.52212%;"></div>
    <div class="bar bar-others-opposed" style="width: 2.71808%;"></div>
    <span>38%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Haiti</div>
    <div class="bar bar-respondent-opposed" style="width: 24.1964%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 6.25221%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 4.38008%;"></div>
    <div class="bar bar-others-opposed" style="width: 1.0597%;"></div>
    <span>36%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Nigeria</div>
    <div class="bar bar-respondent-opposed" style="width: 16.6921%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 11.5255%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 5.83919%;"></div>
    <div class="bar bar-others-opposed" style="width: 1.25344%;"></div>
    <span>35%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Senegal</div>
    <div class="bar bar-respondent-opposed" style="width: 10.0085%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 20.2714%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 3.39271%;"></div>
    <div class="bar bar-others-opposed" style="width: 1.35708%;"></div>
    <span>35%</span>
  </div>
  <div class="bar-container">
    <div class="bar-title">Tanzania</div>
    <div class="bar bar-respondent-opposed" style="width: 15.7759%;"></div>
    <div class="bar bar-husband-partner-opposed" style="width: 15.9047%;"></div>
    <div class="bar bar-religious-prohibition" style="width: 0.772698%;"></div>
    <div class="bar bar-others-opposed" style="width: 1.22344%;"></div>
    <span>34%</span>
  </div>
</div>