<div id="contraceptives-reasons-health" class="bar-horizontal-graph">
  <div class="axis" style="left: 25%;"><span>25%</span></div>
  <div class="axis" style="left: 50%;"><span>50%</span></div>
  <div class="axis" style="left: 75%;"><span>75%</span></div>
  <div class="axis" style="left: 100%;"><span>100%</span></div>
  <div class="bar-container" id="Haiti">
    <div class="bar-title">Haiti</div>
    <div class="bar" style="width: 52.2077%;"><span>52%</span></div>
  </div>
  <div class="bar-container" id="Suazilandia">
    <div class="bar-title">Suazilandia</div>
    <div class="bar" style="width: 48.3366%;"><span>48%</span></div>
  </div>
  <div class="bar-container" id="Ghana">
    <div class="bar-title">Ghana</div>
    <div class="bar" style="width: 46.0469%;"><span>46%</span></div>
  </div>
  <div class="bar-container" id="Egipto">
    <div class="bar-title">Egipto</div>
    <div class="bar" style="width: 41.0013%;"><span>41%</span></div>
  </div>
  <div class="bar-container" id="Tanzania">
    <div class="bar-title">Tanzania</div>
    <div class="bar" style="width: 40.8886%;"><span>41%</span></div>
  </div>
</div>