<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{% if page.category %}{{ page.category | capitalize | escape }} | {% endif %}Medicamentalia</title>
  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | escape }}{% elsif page.description %}{% if page.subtitle %}{{ page.subtitle | escape }}. {% endif %}{{ page.description | escape }}{% else %}{{ site.data.locales[page.lang].description }}{% endif %}">
  <meta name="google-site-verification" content="8o5mV2z-HGwt100VJC_8aweAUsLKpvs86NdLpZuWxhw" />

  <!-- Fb Open Graph Meta -->
  <meta property="fb:app_id" content="{{ site.fb_id }}" />
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.baseurl }}/dist/images/medicamentalia-img.jpg"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.data.locales[page.lang].description }}"/>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.assetsurl }}/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.assetsurl }}/assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.assetsurl }}/assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.assetsurl }}/assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.assetsurl }}/assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.assetsurl }}/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.assetsurl }}/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.assetsurl }}/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.assetsurl }}/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.assetsurl }}/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.assetsurl }}/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.assetsurl }}/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.assetsurl }}/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.assetsurl }}/images/favicons/manifest.json">

  <link rel="stylesheet" href="{{ site.assetsurl }}/styles/main.css?v=@version@">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
