<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    {% assign articles=site.articles | where:"ref", page.ref | sort: 'lang' %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}

    <nav class="site-nav">
      <ul>
      {% for article in articles %}
        <li>
          <a href="{{ article.url }}" class="{{ article.lang }}">{{ article.lang }}</a>
        </li>
      {% endfor %}
      {% for page in pages %}
        <li>
          <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>

  </div>

</header>
