<a class="portfolio-box portfolio-{{ article.ref }}" href="{{ article.url | prepend: site.baseurl }}" title="{{ article.title }}">
  {% if article.img %}
    <div class="portfolio-box-background" style="background-image: url('{{ site.baseurl }}/assets/images/{{ article.img }}')"></div>
  {% else %}
    <div class="portfolio-box-background"></div>
  {% endif %}
  <div class="portfolio-box-overlay"></div>
  <div class="portfolio-box-caption">
    <div class="portfolio-box-caption-content">
      <h3>{{ article.title }}</h3>
      <div class="portfolio-box-caption-description">{{ article.home_description }}</div>
      <button class="read-more-btn btn">
        {% if article.ref == 'prices' %}
          {{ site.data.locales[page.lang].explore_data  }}
        {% else %}
          {{ site.data.locales[page.lang].readmore  }}
        {% endif %}
      </button>
    </div>
  </div>
</a>