<!-- Home Intro -->
<header id="home-header">
  <video autoplay loop poster="{{ site.assetsurl }}/images/home-bkg.jpg" id="home-bkg">
    <source src="{{ site.assetsurl }}/videos/home-bkg.m4v" type="video/mp4">
    <source src="{{ site.assetsurl }}/videos/home-bkg.webm" type="video/webm">
    <source src="{{ site.assetsurl }}/videos/home-bkg.ogv" type="video/ogg">
  </video>
  <div class="header-content">
    <div class="header-content-inner">
        <h1>{{ site.title }}</h1>
        <h2>{{ site.data.locales[page.lang].description }}</h2>
    </div>
  </div>
  <a href="#home" class="btn btn-primary btn-xl btn-scroll-down " title="{{ site.data.locales[page.lang].scroll }}">
    {{ site.data.locales[page.lang].scroll }}
    <span class="glyphicon glyphicon-chevron-down"></span>
    <span class="animation"></span>
  </a>
</header>

<!-- Home Main Menu -->
<section id="home">
  <div class="container-fluid">
    <div class="row">
      {% for item in site.data.home %}
        {% if item.type == "page" %}
          {% assign articles=site.pages | where:"ref", item.ref %}
        {% else %}
          {% assign articles=site.articles | where:"ref", item.ref %}
        {% endif %}
        {% for article in articles %}
          {% if article.lang == page.lang %}
            <div class="col-sm-{{ item.size }}">
              {% include home_item.html article=article type=item.type %}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
