<a class="portfolio-box portfolio-{{ article.ref }} category-{{ article.category }}" href="{% if article.ref == 'contraceptives-video' %}{% if article.lang == 'es' %}{{ '/anticonceptivos' | prepend: site.baseurl }}{% else %}{{ '/contraceptives' | prepend: site.baseurl }}{% endif %}{% else %}{{ article.url | prepend: site.baseurl }}{% endif %}" title="{{ article.title }}">
  {% if article.img %}
    <div class="portfolio-box-background" style="background-image: url('{{ site.assetsurl }}/images/{{ article.img }}')"></div>
  {% else %}
    <div class="portfolio-box-background"></div>
  {% endif %}
  <div class="portfolio-box-overlay"></div>
  <div class="portfolio-box-caption">
    <div class="portfolio-box-caption-content">
      {% if page.layout == 'home' %}
      {% if article.category and include.type != "page" %}
      <p class="portfolio-box-category">{{ article.category }}</p>
      {% endif %}
      {% endif %}
      {% if article.home_description %}
      <h3>{{ article.title }}</h3>
      <h4 class="portfolio-box-caption-description">{{ article.home_description }}</h4>
      {% elsif article.title %}
      <h3>{{ article.title }}</h3>
      {% else %}
      <h3 class="no-uppercase">{{ article.subtitle }}</h3>
      {% endif %}
      <button class="read-more-btn btn">
        {% if article.ref == 'prices' %}
          {{ site.data.locales[page.lang].explore_data  }}
        {% elsif article.ref == 'contraceptives-video' %}
          {{ site.data.locales[page.lang].see_video  }}
        {% else %}
          {{ site.data.locales[page.lang].readmore  }}
        {% endif %}
      </button>
    </div>
  </div>
</a>