  </div>
</div>
<div class="full-height bkg-green">
  <div id="{{ include.id }}-infographic" class="infographic" data-lang="{{ page.lang }}">
    <div class="infographic-content">
      {% if site.data.infographics[include.id].title %}
      <h4>{{ site.data.infographics[include.id].title[page.lang] }}</h4>
      {% endif %}
      <ul>
        {% for step in site.data.infographics[include.id].steps %}
        <li>
          {{ step.title[page.lang] }}
          <img src="{{ site.baseurl }}/assets/images/{{ step.img }}" alt="{{ id }} {{ forloop.index }}" class="alignnone size-full" />
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="infographic-graph"></div>
    <ul class="infographic-frame">
      {% for step in site.data.infographics[include.id].steps %}
      <li class="frame-{{ forloop.index }}">
        <div class="scroller"></div>
      </li>
      {% endfor %}
    </ul>
    <ul class="infographic-nav">
      {% for step in site.data.infographics[include.id].steps %}
      <li>
        <a href="#{{ forloop.index }}"></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container page-content" markdown="1">
  <div class="page-content-container" markdown="1">