<a href="#">{{ site.data.locales[page.lang].lang }}</a>
<ul class="sub-menu submenu-languages">
  {% if page.collection %}
    {% assign articles=site.articles | where:"ref", page.ref | sort: 'lang' %}
    {% for item in articles %}
      {% if item.lang != page.lang %}
      <li class="menu-item menu-item-language menu-item-language-current">
        <a href="{{ site.url }}{% if page.category %}/{{ page.category }}{% endif %}/{{ item.slug }}" class="{{ item.lang }}" title="{{ site.data.locales[item.lang].lang }}">{{ site.data.locales[item.lang].lang }}</a>
      </li>
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for item in pages %}
      {% if item.lang != page.lang %}
      <li>
        <a href="{{ site.url }}{{ item.permalink }}" class="{{ item.lang }}" title="{{ site.data.locales[item.lang].lang }}">{{ site.data.locales[item.lang].lang }}</a>
      </li>
      {% endif %}
    {% endfor %}
  {% endif %}
</ul>
