<section class="no-padding page-footer">
  <div class="container-fluid">
    <div class="row no-gutter">
      {% assign articles=site.articles | where:"category", page.category | sort:"order" %}
      {% for article in articles %}
        {% if page.lang == article.lang %}
        {% if page.ref != article.ref %}
        <div class="col-sm-12">
          {% include home_item.html article=article %}
        </div>
        {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>