</div>
<div id="{{ include.id }}" class="vaccine-disease-graph" data-lang="{{ page.lang }}">
  <p><strong>{{ include.title }}</strong></p>
  <div class="form-group">
    <label for="order-selector" class="control-label">Order by</label>
    <select id="order-selector" class="form-control">
      <option value="year">Vaccine year of introduction</option>
      <option value="cases">Number of cases per habitant</option>
    </select>
  </div>
  <div class="graph-container"></div>
  <div class="tooltip top" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
      <p class="title"><span class="country"></span> <span class="year"></span></p>
      <p class="description"><strong class="value"></strong> cases per 1000 habitants (<span class="cases"></span>)</p>
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">