<div class="video-container">
  <iframe src="https://www.youtube.com/embed/{{ include.videoid }}?rel=0&amp;controls=1&amp;showinfo=0&amp;cc_lang_pref=es&amp;hl=es&amp;cc_load_policy=1" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
{% if include.title %}
  {% if include.credit %}
  <p class="video-container-caption">{{ include.title }} | <strong>{{ include.credit }}</strong></p>
  {% else %}
  <p class="video-container-caption">{{ include.title }}</p>
  {% endif %}
{% elsif include.credit %}
  <p class="video-container-caption"><strong>{{ include.credit }}</strong></p>
{% endif %}