</div>
<div class="immunization-coverage-disease-graph graph-container text-center" data-disease="{{ include.disease }}" data-vaccine="{{ include.vaccine }}">
  <p class="graph-container-caption">{{ include.title }}</p>
  <p class="immunization-description">Die Prozentzahl der {{ include.description }} in <span class="immunization-country"></span> im Jahr 2015 war <span class="immunization-data"></span></p>
  <div id="{{ include.disease }}-immunization-bar-graph"></div>
</div>
<div class="page-content-container" markdown="1">