</div>
<div class="immunization-coverage-disease-graph graph-container text-center" data-disease="{{ include.disease }}" data-vaccine="{{ include.vaccine }}">
  <p class="graph-container-caption">{{ include.title }}</p> 
  <p class="immunization-description">El porcentaje de vacunación {{ include.description }} en <span class="immunization-country"></span> es del <span class="immunization-data"></span></p>
  <div id="{{ include.disease }}-immunization-bar-graph"></div>
</div>
<div class="page-content-container" markdown="1">