</div>
<div id="inventors" class="graph-container">
  <h3>Los pioneros</h3>
  <div class="inventors-container">
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-jenner.jpg" alt="Edward Jenner">
        <h4>Edward Jenner</h4>
        <p>El inventor de la primera vacuna. En una época en la que la <strong>viruela</strong> segaba vidas en Europa, Jenner observó que las vacas sufrían un tipo de viruela con heridas en las ubres y que las lecheras que se contagiaban con este tipo de viruela atenuada no enfermaban con la viruela humana.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-bering-ketasato.jpg" alt="Emil von Bering y Shibasaburo Kitasato">
        <h4>Emil von Bering y Shibasaburo Kitasato</h4>
        <p>Discípulos de Robert Koch en Berlín, Bering y Kitasato descubrieron la antitoxina del <strong>tétanos</strong> y de la <strong>difteria</strong> en 1890. Behring recibió el primer Premio Nobel de Medicina en 1901.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-calmette-guerin.jpg" alt="Albert Calmette y Camille Guerin">
        <h4>Albert Calmette y Camille Guerin</h4>
        <p>En 1905 comenzaron su investigación del bacilo tuberculoso en el Instituto Pasteur de Lille, hasta que estalló la Primera Guerra Mundial. En 1921 descubrieron la vacuna contra la <strong>tuberculosis</strong>, que había acabado con las vidas la mujer y el padre de Guerin.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-salk.jpg" alt="Jonas Salk">
        <h4>Jonas Salk</h4>
        <p>En 1955, tras ensayar la vacuna contra la <strong>polio</strong> en un grupo de voluntarios, en el que participó junto a su familia, el antígeno se demostró seguro. Salk renunció a explotar económicamente su descubrimiento y no patentó su vacuna.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/medicine-pattern.png" alt="Maurice Hilleman">
        <h4>Maurice Hilleman</h4>
        <p>Fue responsable del desarrollo de más de 40 antígenos para la farmacéutica Merck. En 1963, su hija enfermó de <strong>paperas</strong> y Hilleman le tomó una muestra. Cuatro años después, gracias al cultivo de ese mismo virus, descubrió la vacuna.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-kendrick.jpg" alt="Pearl Kendrick">
        <h4>Grace Eldering y Pearl Kendrick</h4>
        <p>En los años 20 estas dos mujeres desarrollaron la primera vacuna contra la <strong>tos ferina</strong>. Pidieron ayuda para recaudar fondos a la primera dama de los EEUU, Eleanor Roosevelt, sensible con la inmunización infantil. Su marido, el presidente Roosevelt, tenía problemas de movilidad debido a las secuelas de la polio.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-enders.jpg" alt="John F. Enders">
        <h4>John F. Enders y Thomas C. Peebles</h4>
        <p>Descubrieron la vacuna del <strong>sarampión</strong> gracias a que Peebles fue el primero en aislar el virus. A día de hoy, su cepa se sigue utilizando para producir nuevas vacunas. Antes de esta investigación, Enders recibió el Nobel de Medicina en 1954 por su trabajo en el cultivo del virus de la poliomielitis.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="/assets/images/articles/inventors-frazer.jpg" alt="Ian Frazen">
        <h4>Ian Frazen y Jian Zhou</h4>
        <p>Frazen, profesor escocés en Australia y Zhou; investigador chino, descubrieron la vacuna contra el <strong>virus del papiloma humano</strong>, la principal causa de cáncer de cuello de útero. Zhou no pudo llegar a ver la introducción de la vacuna en 2006, ya que murió en 1999.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">