</div>
<div id="inventors" class="graph-container">
  <h3>The pioneers</h3>
  <div class="inventors-container">
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-jenner.jpg" alt="Edward Jenner">
        <h4>Edward Jenner</h4>
        <p>Inventor of the first vaccine. At a time when <strong>smallpox</strong> was a killer in Europe, Jenner observed that cows suffered a type of smallpox with wounds on their udders and that the milkmaids that became infected with this less serious type of bovine smallpox did not contract the disease in its human form.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-bering-ketasato.jpg" alt="Emil von Bering & Shibasaburo Kitasato">
        <h4>Emil von Bering & Shibasaburo Kitasato</h4>
        <p>Disciples of Robert Koch in Berlin, Behring and Kitasato discovered the antitoxins for <strong>tetanus</strong> and <strong>diphtheria</strong> in 1890. Behring received the Nobel Prize in Physiology of Medicine in 1901.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-calmette-guerin.jpg" alt="Albert Calmette & Camille Guerin">
        <h4>Albert Calmette & Camille Guerin</h4>
        <p>In 1905 they began to research tubercle bacillus at the Pasteur Institute in Lille, until the outbreak of the First World War. In 1921 they discovered the vaccine against <strong>tuberculosis</strong>, which had taken the lives of Guerin's wife and father.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-salk.jpg" alt="Jonas Salk">
        <h4>Jonas Salk</h4>
        <p>In 1955, having tested the <strong>polio</strong> vaccine in a group of volunteers, including his family, the antigen was proven to be safe. Salk refused to exploit his discovery financially and did not patent the vaccine.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-hilleman.jpg" alt="Maurice Hilleman">
        <h4>Maurice Hilleman</h4>
        <p>Responsible for the development of over 40 antigens for the pharmaceutical company Merck. In 1963, his daughter contracted <strong>mumps</strong> and Hilleman took a sample. After four years cultivating the virus, he discovered the vaccine.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-kendrick.jpg" alt="Pearl Kendrick">
        <h4>Grace Eldering & Pearl Kendrick</h4>
        <p>In the 1920s these two women developed the first vaccine for <strong>whooping cough</strong>. They asked for help to raise funds from US First Lady, Eleanor Roosevelt, a supporter of childhood immunization. Her husband, President Roosevelt, had mobility problems due to the consequences of polio.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-enders.jpg" alt="John F. Enders">
        <h4>John F. Enders & Thomas C. Peebles</h4>
        <p>Discovered the <strong>measles</strong> vaccine as Peebles was the first to isolate the virus. This strain is still used to produce new vaccines to this day. Before this research, Enders received the Nobel Prize in Medicine in 1954 for his work in cultivating the polio virus.</p>
      </div>
    </div>
    <div class="inventor">
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/articles/inventors-frazer.jpg" alt="Ian Frazen">
        <h4>Ian Frazen & Jian Zhou</h4>
        <p>Frazen, a Scottish professor in Australia; and Zhou, a Chinese researcher, discovered the vaccine against the <strong>human papillomavirus</strong>, the main cause of cervical cancer. Zhou died in 1999, before the introduction of the vaccine in 2006.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">