</div>
<div class="graph-container">
  <div id="video-map-polio-description"></div>
  <div class="video-map-polio-container">
    <div id="video-map-polio" class="video-container"></div>
    <div class="video-map-polio-cover">
      <div class="video-map-polio-title">
        <p>Descubre cómo han evolucionado los casos de polio, hasta casi desaparecer, desde 1980.</p>
        <a id="video-map-polio-play-btn" href="#">Play</a>
      </div>
      <img src="{{ site.assetsurl }}/images/articles/map-polio.png">
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">
