</div>
<div class="graph-container">
  <div id="video-map-polio-description"></div>
  <div class="video-map-polio-container">
    <div id="video-map-polio" class="video-container"></div>
    <div class="video-map-polio-cover">
      <p>Discover how polio cases have decreased from 1980, almost disappearing. <a id="video-map-polio-play-btn" href="#">Play</a></p>
      <img src="{{ site.baseurl }}/assets/images/articles/map-polio.png">
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">
