</div>
<div id="{{ include.id }}" class="vaccines-disease-graph graph-container" data-lang="{{ page.lang }}">
  <p class="graph-container-caption"><strong>{{ include.title }}</strong></p>
  <div class="heatmap-container"></div>
  <div class="tooltip top" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
      <p class="title"><span class="country"></span> <span class="year"></span></p>
      <p class="description"><strong class="value"></strong> cases per 1000 habitants (<span class="cases"></span>)</p>
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">