</div>
<div id="{{ include.id }}" class="vaccines-disease-graph graph-container">
  <p class="graph-container-caption"><strong>{{ include.title }}</strong></p>
  <div class="heatmap-graph">
    <p class="annotation">Año de introducción de la vacuna</p>
  </div>
  <div class="tooltip top" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
      <p class="title"><span class="country"></span> <span class="year"></span></p>
      <p class="description"><strong class="value"></strong> casos por 100.000 habitantes (<span class="cases"></span> casos)</p>
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">