</div>
<div class="graph-container">
  <p class="graph-container-caption">Precios organizaciones</p>
  <div id="vaccine-prices-organizations-graph" class="scatterplot-graph">
    <div class="tooltip top" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        <p class="title"></p>
        <p class="description"><span class="vaccine"></span></p>
        <p class="description"><strong>$<span class="price"></span></strong></p>
        <p class="description"><span class="dosis"></span><span class="company"></span></p>
      </div>
    </div>
  </div>
</div>
<div class="page-content-container" markdown="1">