<div class="graph-container">
  <p class="graph-container-caption" style="text-align:center;margin-top:0;">{{ include.title }}</p>
  {% if include.description %}
  <p>{{ include.description }}</p>
  {% endif %}
  <div id="vaccine-prices-{{ include.id }}-graph" class="scatterplot-graph scatterplot-discrete-graph">
    {% if include.legend %}
    <div class="graph-legend"><ul></ul></div>
    {% endif %}
    <div class="tooltip top" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        <p class="title"></p>
        <p class="description"><span class="vaccine"></span></p>
        <p class="description"><strong><span class="price"></span> €</strong></p>  
        <p class="description"><span class="company"></span></p>
      </div>
    </div>
  </div>
  {% if include.footer %}
  <p>{{ include.footer }}</p>
  {% endif %}
</div>