<div id="vaccine-vph-container-graph" class="graph-container">
  <p class="graph-container-caption" style="margin-bottom: 0">{{ include.title }}</p>
  {% if include.description %}
  <p>{{ include.description }}</p>
  {% endif %}
  <ul class="legend">
    <li class="vaccine-yes">Countries vaccinating (as of 31/12/2015)</li>
    <li class="vaccine-no">Countries not vaccinating (as of 31/12/2015)</li>
    <li>Countries with no data available</li>
  </ul>
  <div id="vaccine-vph-graph" class="scatterplot-graph">
    <ul class="x-legend">
      <li>Low income</li>
      <li>Lower middle income</li>
      <li>Upper middle income</li>
      <li>High income</li>
    </ul>
    <div class="tooltip top" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        <p class="title"></p>
        <p class="description vaccine">
          <span class="vaccine-1">Vaccine included in public programme (as of 31/12/2015)</span>
          <span class="vaccine-0">Vaccine not included in public programme (as of 31/12/2015)</span>
          <span class="vaccine-">No data on vaccine introduction</span>
        </p>
        <p class="description"><strong><span class="value-y"></span></strong> deaths</p>
        <small>per 100.000 women ages 30 and over</small>
      </div>
    </div>
  </div>
  <div class="label-y">Deaths <br/><small>per 100.000 women ages 30 and over</small></div>
</div>