<div id="vaccine-vph-container-graph" class="graph-container">
  <p class="graph-container-caption" style="margin-bottom: 0">{{ include.title }}</p>
  {% if include.description %}
  <p>{{ include.description }}</p>
  {% endif %}
  <ul class="legend">
    <li class="vaccine-yes">Countries vaccinating (as of end of 2015)</li>
    <li class="vaccine-no">Countries not vaccinating (as of end of 2015)</li>
  </ul>
  <div id="vaccine-vph-graph" class="scatterplot-graph">
    <ul class="x-legend">
      <li>Low income</li>
      <li>Lower middle income</li>
      <li>Upper middle income</li>
      <li>High income</li>
    </ul>
    <div class="tooltip top" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        <p class="title"></p>
        <p class="description"><strong><span class="value-y"></span> deaths</strong></p>
        <small>per 100,000 women ages 30 and over</small>
        <p class="description vaccine">
          <span class="vaccine-1">Vaccine included in public programme (as of end of 2015)</span>
          <span class="vaccine-0">Vaccine not included in public programme (as of end of 2015)</span>
        </p>
      </div>
    </div>
  </div>
  <div class="label-y">Deaths <br/><small>per 100,000 women ages 30 and over</small></div>
  <div class="mobile-pictures">
    <p>Countries with highest mortality from cervical cancer are also the poorest and had not introduced the vaccine by 2015</p>
    <img class="img-responsive" src="{{ site.assetsurl }}/images/articles/vph-graph-en-1.jpg">
    <p>Only a few low-income countries had introduced the vaccine in their programmes, thanks to GAVI's external assistance</p>
    <img class="img-responsive" src="{{ site.assetsurl }}/images/articles/vph-graph-en-2.jpg">
    <p>Most countries that have the vaccine in their programmes are rich countries with low mortality from cervical cancer</p>
    <img class="img-responsive" src="{{ site.assetsurl }}/images/articles/vph-graph-en-3.jpg">
  </div>
</div>