</div>
<div id="world-cases">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-2 graph-container">
      <p class="graph-container-caption">Measles</p> 
      <div id="measles-world-graph" class="area-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p class="graph-container-caption">Pertussis</p> 
      <div id="pertussis-world-graph" class="area-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p class="graph-container-caption">Diphteria</p> 
      <div id="diphteria-world-graph" class="area-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p class="graph-container-caption">Polio</p> 
      <div id="polio-world-graph" class="area-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p class="graph-container-caption">Tetanus</p> 
      <div id="tetanus-world-graph" class="area-graph"></div>
    </div>
  </div>
</div>
<div class="page-content-container"  markdown="1">