</div>
<div id="world-cases">
  <div class="graph-container">
    <p class="graph-container-caption">Evolution of the number of cases for each disease in the world</p> 
    <p>Measles and pertussis share the same scale, different to the one used in diphteria, polio and tetanus.</p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-2 graph-container">
      <p>Measles</p> 
      <div id="measles-world-graph" class="line-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p>Pertussis</p> 
      <div id="pertussis-world-graph" class="line-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p>Diphteria</p>
      <div id="diphteria-world-graph" class="line-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p>Polio</p> 
      <div id="polio-world-graph" class="line-graph"></div>
    </div>
    <div class="col-xs-6 col-md-4 graph-container">
      <p>Tetanus</p> 
      <div id="tetanus-world-graph" class="line-graph"></div>
    </div>
  </div>
</div>
<div class="page-content-container"  markdown="1">