.navbar-default{
  border: none;
  background: $color-green-dark;
  margin-bottom: 0;
  border-radius: 0;

  .home & {
    display: none;
    /*
    background: transparent;

    .navbar-brand,
    .navbar-nav li.menu-item{
      display: none;
    }
    .navbar-nav li.menu-item-language{
      display: block;
    }
    .navbar-nav > li.menu-item-language{
      background: transparent !important;

      &:hover,
      &:focus{
        background: $brand-primary !important;
      }

      > a{
        color: $brand-secondary !important;
      }
    }
    */
  }

  .navbar-brand{
    color: $brand-secondary;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    padding-left: 32px;
    background: url(../images/medicamentalia-small.png) no-repeat 4px center transparent;
    @include transition(.3s ease-in-out opacity);

    &:hover{
      color: $brand-secondary;
      opacity: 0.5;
    }
  }
}

.navbar-toggle{
  width: $navbar-height;
  height: $navbar-height;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  @include transition(.3s ease-out background);

  .navbar-default &{
    border-left: 1px solid $color-green;

    &:hover,
    &:focus{
      background: $color-green;
    }
  }

  .icon-bar{
    width: 24px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
  
    .navbar-default &{
      background: $brand-secondary;

      &+.icon-bar{
        margin-top: 5px;
      }
    }
  }
}


#main-menu{
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  overflow-y: visible;

  .navbar-nav{
    margin: 0 -15px;
    border-top: 1px solid $brand-secondary;
  
    >li{
      //float: right;
      text-transform: uppercase;
      padding-left: 15px;
      border-bottom: 1px solid $color-green;
      text-align: center;

      &.menu-item-language{
        position: relative;
        background: $color-green;
        @include transition(.3s ease-in-out background);

        >a{
          color: $color-green-dark;
          opacity: 1;
          font-weight: 400;
          padding-right: 10px;
          padding-left: 0;
        }

        &:hover{
          background: $color-green-light;
        }

        .submenu-languages{
          display: none;
          position: absolute;
          right: 0;
          left: 0;
          padding: 0;
          margin: 0;
          top: 50px;
          z-index: 99;

          li{
            list-style: none;

            > a{
              display: block;
              width: 100%;
              padding: 8px 0;
              color: $color-green-light;
              background: $color-green-dark;
              border-bottom: 1px solid $color-green-light;
              font-size: 0.875em;
              text-align: center;

              &:hover{
                color: $color-green-dark;
                background: $color-green-light;
                text-decoration: none;
              }
            }

            &:last-child > a{
              border-bottom: none;
            }
          }
        }
      }

      >a{
        color: $brand-secondary;
        font-size: 0.913em;
        font-family: $font-family-sans-serif;
        //font-weight: 600;
        letter-spacing: 0.04em;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
        padding-left: 0;
        line-height: $navbar-height;
        font-weight: 300;
        opacity: 0.5;
        @include transition(.3s ease-in-out opacity);

        &:hover{
          opacity: 1;
          background: none;
        }
      }

      &.current-menu-item a{
        opacity: 1;
        font-weight: 400;
      }
    }
  }
}


@media (min-width: $screen-md) {

  #main-menu{
    float: right;
    width: auto;

    .navbar-nav{
      border-top: none;

      >li{
        padding-left: 0;
        border-bottom: none;
        text-align: left;
      }

      >li.menu-item-language > a{
        padding-left: 10px;
      }
    }
  }
}