// Page Header

header {
  position: relative;
  width: 100%;
  height: 33%;
  min-height: 350px;
  text-align: center;
  color: white;
  background: url('http://lorempixel.com/g/1280/720/nature/') center center no-repeat fixed;
  @include background-size( cover );

  .header-overlay{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: $brand-primary;
    opacity: 0.5;
  }

  /*
  &.page-2{
    background-image: url('../images/medicine-pattern.png');
    background-repeat: repeat;
    @include background-size( auto );
  }
  */
  &.page-2 .header-overlay{
    background: $overlay-green;
  }
  &.page-10 .header-overlay{
    background: $overlay-blue;
  }
  &.page-8 .header-overlay{
    background: $overlay-orange;
  }
  &.page-12 .header-overlay{
    background: $overlay-yellow;
  }

  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;

    position: absolute;
    top: 50%;
    padding: 0;
    @include translate(0, -50%);


    .header-content-inner {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 30px;

      >p{
        max-width: 640px;
        margin: 0 auto 15px;
      }
    }

    h1 {
      color: $brand-secondary;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: .03em;
      margin: 15px 0;
    }

    h2{
      color: $color-yellow;
      font-size: 22px;
      margin: 0;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 400;
    }

    p{
      font-weight: 300;
    }
  }

  /*
  @media (min-width: 768px) {
    height: 33%;

    .header-content {
      position: absolute;
      top: 50%;
      @include translate(0, -50%);
      padding: 0;
        
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
      }
    }
  }
  */
}


// Page Menu

.nav-page{
  height: 0;
  position: relative;
  overflow: visible;

  .nav-page-container{
    position: absolute;
    width: 100%;
    background: $color-orange;
    z-index: 90;
  }

  .container{
    position: relative;
    max-width: 1040px;
  }

  .navbar-header{
      border: none;
    }

  .navbar-toggle{
    float: left;
    width: 46px;
    height: 42px;
    border-left: none;
    border-right: 1px solid $color-brown;
    @include transition(.3s ease-out background);

    &:hover{
      background: #be5f30;
    }
    
    .icon-bar{
      background: $color-brown;
    }
  }

  .navbar-collapse{
    padding: 0;
    border-color: $color-brown;
  }

  .navbar-nav{
    width: 100%;
    padding-right: 0;
    margin: 0;

    li{
      width: 100%;

      > a{
        color: $color-brown;
        padding: 12px 0;
        text-align: center;
        border-bottom: 1px solid mix( $color-brown, $color-orange, 50% );
        @include transition(.3s ease-out background);

        &:focus{
          background: transparent;
        }
  
        &:hover{
          background: mix( $color-orange, $color-brown, 75% );
        }
      }

      &.active > a{
        color: white;
        background: mix( $color-orange, $color-brown, 75% );
      }
    }
  }

  .top-btn{
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    line-height: 42px;
    color: $color-orange;
    background: transparent;
    text-align: center;
    border-left: 1px solid $color-brown;
    @include transition(.3s ease-out background);
  }

  .home-btn{
    display: none;
    visibility: hidden;
    position: absolute;
    left: 15px;
    top: 0;
    width: 44px;
    height: 44px;
    overflow: hidden;
    text-indent: -9999px;
    border-left: 1px solid $color-brown;
    opacity: 0;
    background: url(../images/medicamentalia-small-brown.png) no-repeat center center transparent;
    @include transition(.3s ease-out opacity);
  }

  &.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 90;

    .top-btn{
      color: $color-brown;
      visibility: visible;
      background: mix( $color-orange, $color-brown, 75% );

      &:hover{
        background: mix( $color-orange, $color-brown, 50% );
      }
    }

    .home-btn{
      visibility: visible;
      opacity: 0.7;

      &:hover{
        opacity: 1;
      }
    }
  }

  @media (min-width: $screen-md) {
    
    .top-btn{
      right: 16px;
      line-height: 44px;
      //border-left: none;
    }

    .home-btn{
      display: block;
    }

    .navbar-header{
      border: none;
    }

    .navbar-collapse{
      padding-right: 15px;
      padding-left: 15px;
    }

    &.fixed .navbar-nav{
      border-right: 1px solid $color-brown;
    }

    .navbar-nav{
      padding-right: 42px;
      padding-left: 42px;

      li{
        width: 33.33%;

        &:first-child{
          border-left: 1px solid $color-brown;
        }

        > a{
          border-bottom: 0;
          border-right: 1px solid $color-brown;
        }
      }
    }

    &.page-8 .navbar-nav li{
      width: 16.6666%;
    }
  }
}

@media (max-width: $screen-md) {
  .nav-page .container{
    width: 100%;
  }
}


// Page Containers

.page-content{
  font-family: $font-family-serif;
  max-width: 1040px;

  .page-content-container{
    width: 100%;

    li{
      font-size: 18px;
      line-height: 29px;
    }
  }

  .author{
    font-family: $font-family-sans-serif;
    color: $brand-primary;
    font-size: 1em;
    margin-top: 80px;
    font-weight: 300;

    span{
      text-transform: uppercase;
      font-weight: 400;
    }

    i{
      font-weight: 300;
      font-style: normal;
    }
  }

  h2{
    margin-top: 0;
    padding-top: 40px;
    font-size: 38px;
  }

  a.page-anchor{
    display: block;
    padding-top: 40px;
    border-bottom: 1px solid mix($brand-primary, $brand-secondary, 50%);

    &:first-child{
      border: none;
    }
  }

  a{
    font-weight: 600;
    @include transition(0.3s ease-out color);
    
    &:hover{
      color: $color-orange;
      text-decoration: none;
    }
  }

  .video-container{
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .video-container-caption{
    color: $brand-primary;
    font-family: $font-family-sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.375em;
    margin: -20px 0 40px;

    strong{
      font-weight: 400;
    }
  }
}

.video-container{
  position: relative;
  margin: 60px 0 30px;
}

.video-container-right{
  .video-container{
    margin-top: 40px;
  }
}


// Align right pictures
.alignright{
  height: auto;
  width: 100% !important;
}

.wp-caption{
  padding: 0;
  border: none;

  > img{
    width: 100%;
  }
}

.wp-caption-text{
  color: $brand-primary;
  font-family: $font-family-sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.375em;
  padding: 9px 0;

  strong{
    font-weight: 400;
  }
}


// Blockquote

$page-content-container: 0.75;
$blockquote-margin-right: -(300% / 12) / $page-content-container;

blockquote{
  position: relative;
  width: auto;
  padding: 0;
  margin: 0 30px 30px;
  font-family: $font-family-sans-serif;
  color: $color-orange;
  font-weight: 600;
  border: none;
  text-indent: 1.5em;

  > p{
    font-size: 21px;
    line-height: 28px;
  }

  &:before{
    content: '“';
    display: block;
    position: absolute;
    top: -0.05em;
    left: -0.7em;
    color: $brand-primary;
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1em;
  }
}


// Carousel Fullscreen

.carousel.full-width{
  height: 66%;
  margin-top: 40px;
  
  .item,
  .active,
  .carousel-inner{
    height: 100%;
  }

  .fill{
    width: 100%;
    height: 100%;
    background-position: center;
    @include background-size( cover );
  }
}

.carousel-control{
  width: 80px;

  &:hover{
    color: $color-orange;
  }
}

.carousel-caption{
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $color-brown;
  background: white;
  background: rgba(255,255,255,0.7);
  text-shadow: none;
}

.social-share{
  padding: 0;
  margin: 0 auto;

  li{
    float: left;
    list-style: none;
    margin: 0 10px 40px 0;

    > a{
      border: none;
      font-size: 0.875em;

      &:hover{
        color: white;
      }
    }
  }
}

// Tablet & Computers Resolution
@media (min-width: $screen-sm) {

  .carousel.full-width{
    height: 100%;
  }

  blockquote,
  .alignright,
  .video-container-right{
    float: right;
    width: 40% !important;
    margin-right: 0;
  }

  .alignright{
    margin-left: 30px;
  }

  .page-content .video-container-right{
    margin-left: 30px;

    .video-container{
      margin-top: 0;
    }
    .video-container-caption{
      margin-bottom: 20px;
    }
  }
}

// Computers Resolution
@media (min-width: $screen-md) {
  header{
    min-height: 240px;
  }

  .page-content .page-content-container{
    width: $page-content-container * 100%;
  }

  blockquote,
  .alignright,
  .video-container-right{
    width: (500% / 12) / $page-content-container !important;
    margin-right: $blockquote-margin-right;
  }
}