/*
Patentes
*/

#patents-graph{

  font-family: $font-family-sans-serif;

  .axis path,
  .axis line {
    display: none;
  }

  .axis text {
    font-size: 0.75em;
    color: $gray-light;
  }

  .bar {
    fill: $brand-primary;
  }

  .bar:hover {
    fill: $color-orange;
  }

  .bar-label{
    fill: white;
    font-size: 0.75em;
    font-weight: 300;
  }

  .marker{
    stroke: $color-orange;
  }

  .marker-label text{
    font-size: 0.75em;
    fill: $brand-primary;
  }
}

/*
Infographic
*/

.infographic{
  position: relative;
  text-align: center;

  .infographic-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.bottom{
      top: auto;
      bottom: 0;
    }

    h4{
      color: $brand-secondary;
      font-size: 36px;
      letter-spacing: 0.05em;
      font-weight: normal;
      margin-top: 80px;
    }

    ul{
      position: relative;
      max-width: 620px;
      margin: 0 auto;
      padding: 0;
    }

    li{
      position: absolute;
      display: block;
      width: 100%;
      color: white;
      list-style: none;
      font-family: $font-family-sans-serif;
      font-size: 1.125em;
      line-height: 1.375em;
      font-weight: 300;
      opacity: 0;
      @include transition( 0.4s ease-in-out all );

      &.active{
        opacity: 1;
      }

      h5{
        color: $color-yellow;
        margin: 0 0 20px;
      }

      strong{
        font-weight: 400;
      }

      img, svg{
        display: none;
      }
    }

    blockquote{
      color: $brand-secondary;
      float: none;
      width: 100% !important;
      margin: 0 0 0.5em;
      font-weight: 300;
      font-size: 1em;
      text-indent: 0;

      &:before,
      &:after{
        color: white;
        font-weight: 600;
      }

      &:before{
        top: 0;
        left: -0.4em;
      }

      &:after{
        content: 'â€';
        position: absolute;
        bottom: -0.45em; 
        right: -0.4em;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1em
      }
    }
  }

  .infographic-frame{
    margin: 0;
    padding: 0;

    li{
      position: relative;
      list-style: none;

      .scroller{
        position: absolute;
        left: 0px;
        top: 0;
        height: 80px;
        width: 4px;
        z-index: 90;
        background: linear-gradient(to top, transparent, white);
      }
    }

    li:first-child .scroller{
      display: none;
    }
  }

  .infographic-nav{
    display: none;
    position: absolute;
    right: 20px;
    top: 64px;
    margin: 0;
    padding: 0;
    z-index: 90;

    li{
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      @include transition( 0.4s ease-in-out all );

      a{
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: white;
      }
    }

    &.fixed{
      display: block;

      li{
        opacity: 0.5;

        &.active{
          opacity: 1;
        }
      }
    }
  }

  .infographic-graph{
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &.bottom{
      top: auto !important;
      bottom: 20px;
    }

    svg{
      width: auto;
      height: 100%;
    }
  }
}

#patentes-infographic .infographic-content{
  
  /*
  h4{
    color: $color-brown;
  }
  */

  h5{
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 12px;
  }

  li{
    > strong{
      color: white; // $color-brown;
      font-weight: 600;
    }
    
    > em{
      color: white; //  $color-brown;
      font-style: normal;
      font-weight: 400;
    }
  }
}

#fakes-infographic .infographic-graph{
  top: 240px;
}

/* Main Infographic */

#main-infographic{

  $main-infographic-bkg: mix( $brand-primary, white, 5% );

  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 0 20px;
  font-family: $font-family-sans-serif;
  background: $main-infographic-bkg;

  .infographic-graph{
    top: 0;
    z-index: 60;

    .axis path,
    .axis line {
      fill: none;
      stroke: $gray-light;
      shape-rendering: crispEdges;
    }

    .axis text{
      fill: $gray-light;
      font-weight: 400;
    }

    .x.axis text{
      font-size: 0.75em;
      //text-anchor: start !important;
    }

    .y.axis text{
      font-size: 0.75em;
      font-weight: 300;
    }

    .y.axis .tick line{
      stroke: mix( $gray-lighter, $gray-light, 80% );
    }

    .x.axis .tick line{
      stroke: mix( $gray-lighter, $gray-light, 70% );
      stroke-dasharray: 1, 3;
    }

    .axis .domain{
      display: none;
    }

    .mpr-line{
      text{
        fill: $brand-primary;
        font-size: 0.75em;
        text-anchor: end;
      }
      line{
        stroke: $brand-primary;
        shape-rendering: crispEdges
      }
    }

    .country-marker{
      stroke: mix( $gray-lighter, $gray-light, 80% );
      shape-rendering: crispEdges;
    }

    .country-label,
    .country-label-code{
      fill: $color-orange;
      font-size: 0.75em;
      text-transform: uppercase;
      font-weight: 600;
      text-anchor: middle;
    }

    .x-area{
      position: absolute;
      left: 50px;
      right: 50px;
      bottom: -10px;
      background: mix( $gray-lighter, $gray-light, 50% );
      padding: 0;
      margin: 0;
      height: 18px;

      li{
        float: left;
        list-style: none;
        text-transform: uppercase;
        color: white;
        font-size: 0.75em;
        letter-spacing: 0.02em;
        font-weight: 300;
        line-height: 18px;
        border-right: 1px solid $main-infographic-bkg;
      }
    }

    .dot{
      cursor: pointer;
    }
  }

  .infographic-content{
    top: 0;
    left: 0;
    right: 50px;
    z-index: 66;

    ul{
      margin: 0;
      max-width: none;
    }

    li{

      color: $text-color;
      padding: 1em 0 1em 1em;
      background: $main-infographic-bkg;
      background: rgba( red($main-infographic-bkg), green($main-infographic-bkg), blue($main-infographic-bkg), 0.8 );
      text-align: right;
      left: 40%;
      width: 60%;
      //z-index: 90;

      h4, h5{
        font-size: 22px;
        color: $brand-primary;
        margin-bottom: 12px;
      }
    }
  }

  .infographic-nav{
    top: 26px;

    li{
      opacity: 1;

      a{
        border: 1px solid $color-orange;
        @include transition( 0.4s ease-in-out background );
      }

      &.active a{
        background: $color-orange;
      }
    }
  }

  .infographic-frame li .scroller{
    background: linear-gradient(to top,transparent, $color-orange);
  }
}

#main-infographic-tooltip{
  top: 80px;
  color: $color-brown;
  background: white;  // $color-orange;
  border: 1px solid $color-orange;
  padding: 10px 10px 2px;
  width: auto;
  max-width: 340px;
  margin: 0 16px;
  text-align: left;
  @include transition( 0.3s ease-out opacity );

  p{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1em;

    .glyphicon{
      color: $color-orange;
      width: 18px;
      font-size: 0.875em;
    }

    &.green{
      color: $brand-primary;
    }

    &.green .glyphicon{
      display: none;
      color: $brand-primary;
    }

    .price{
      font-weight: 600;
      font-size: 1.125em;
      padding-left: 3px;
    }

    .year{
      font-weight: 300;
    }

    .country{
      color: $color-orange;
      text-transform: uppercase;
    }
  }

  .drug{
    display: none;

    strong{
      font-weight: 600;
    }

    &:before{
      content: "";
      float: left;
      display: block;
      width: 18px;
      height: 13px;
      margin-top: 2px;
      overflow: hidden;
      background: url(../images/pills.png) no-repeat 0 0 transparent;
    }

    .description{
      display: block;
      font-weight: 300;
      line-height: 1.25em;
      padding-left: 18px;
      //margin-top: 5px;
    }
  }

  .drug-amitriptyline:before{
    background-position: 0 0;
  }
  .drug-simvastatin:before{
    background-position: 0 -13px;
  }
  .drug-amoxicillin:before{
    background-position: 0 -26px;
  }
  .drug-atenolol:before{
    background-position: 0 -39px;
  }
  .drug-captopril:before{
    background-position: 0 -52px;
  }
  .drug-ceftriaxone:before{
    background-position: 0 -65px;
  }
  .drug-ciprofloxacin:before{
    background-position: 0 -78px;
  }
  .drug-co-trimoxazole:before{
    background-position: 0 -91px;
  }
  .drug-diazepam:before{
    background-position: 0 -104px;
  }
  .drug-diclofenac:before{
    background-position: 0 -117px;
  }
  .drug-glibenclamide:before{
    background-position: 0 -130px;
  }
  .drug-omeprazole:before{
    background-position: 0 -143px;
  }
  .drug-paracetamol:before{
    background-position: 0 -156px;        
  }
  .drug-salbutamol:before{
    background-position: 0 -169px;
  }
  
  $tooltip-arrow-width: 6px;

  // Arrows
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    top: 50%;
    left: 0;
    right: auto;
    margin-left: -$tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: $color-orange;
  }

  &.left .tooltip-arrow {
    left: auto;
    right: 0;
    margin-right: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: $color-orange;
  }

  &.top .tooltip-arrow {
    top: 18px;
  }
}  

#main-infographic-menu{
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px 10px;
  background: mix( $brand-primary, white, 5% );
  opacity: 0;
  @include transition( 0.4s ease-in-out all );

  &.active{
    top: 0;
    opacity: 1;
  }

  h4{
    display: none;
    color: $brand-primary;
    font-size: 22px;
    margin-top: 85px;
    font-weight: 400;
  }

  ul{
    width: 100%;
    margin: 0;
    padding: 0;

    li{
      float: left;
      width: 25%;
      list-style: none;
      text-align: center;

      h5{
        position: relative;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.25em;
        font-weight: 400;
        //border-bottom: 1px solid $color-orange;
        padding: 0 8px 8px;
        margin: 0 10px 0; //12px;

        .icon-question{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 36px;
          background: url(../images/question-icon.png) no-repeat 0 center transparent;
        }
      }

      .dropdown{
        float: left;
      }
      .dropdown-region{
        width: 45%;
      }
      .dropdown-drug{
        width: 55%;
      }

      .dropdown.open .glyphicon-chevron-down:before{
        content: "\e113";
      }

      .dropdown-toggle{
        width: 100%;
        border-color: $color-orange;
        color: $gray-light;
        font-size: 0.813em;
        line-height: 1.5em;
        padding: 5px 0;
        text-indent: -12px;
        border-right: none;
        
        &.hover,
        &:hover,
        &.active,
        &.active:hover, 
        &.focus, 
        &:active, 
        &:focus{
          background: mix( $color-orange, white, 10% );
        }

        .glyphicon{
          position: absolute;
          top: 11px;
          right: 4px;
          color: $color-orange;
          font-size: 0.875em;
        }

        &#drug-dropdown{
          border-right: 1px solid $color-orange;
        }
      }

      .dropdown-menu{
        border-radius: 0;
        background: $color-orange;

        li{
          float: none;
          color: white;
          font-weight: 300;
          font-size: 0.875em;
          text-align: left;
          padding-left: 8px;
          margin: 5px 0;
          line-height: 1.375em;

          &.checkbox label{
            position: relative;
            font-weight: 300;

            i{
              position: absolute;
              display: block;
              width: 18px;
              height: 13px;
              margin-top: 2px;
              overflow: hidden;
              background: url(../images/pills.png) no-repeat 0 0 transparent;

              &.drug-amitriptyline{
                background-position: 0 0;
              }
              &.drug-simvastatin{
                background-position: 0 -13px;
              }
              &.drug-amoxicillin{
                background-position: 0 -26px;
              }
              &.drug-atenolol{
                background-position: 0 -39px;
              }
              &.drug-captopril{
                background-position: 0 -52px;
              }
              &.drug-ceftriaxone{
                background-position: 0 -65px;
              }
              &.drug-ciprofloxacin{
                background-position: 0 -78px;
              }
              &.drug-co-trimoxazole{
                background-position: 0 -91px;
              }
              &.drug-diazepam{
                background-position: 0 -104px;
              }
              &.drug-diclofenac{
                background-position: 0 -117px;
              }
              &.drug-glibenclamide{
                background-position: 0 -130px;
              }
              &.drug-omeprazole{
                background-position: 0 -143px;
              }
              &.drug-paracetamol{
                background-position: 0 -156px;        
              }
              &.drug-salbutamol{
                background-position: 0 -169px;
              }
            }

            span{
              padding-left: 18px;
            }
          }

          &.checkbox.all label{
            font-weight: 400;
          }
        }
      }

      .dropdown:first-child{
        border-right: none;
      }
    }
  }

  .btn-group{
    display: block;
    padding: 0 10px 0 0;

    .btn{
      width: 50%;
      padding-left: 0;
      padding-right: 0;
      color: $gray-light;
      font-family: $font-family-sans-serif;
      font-size: 0.813em;
      border-color: $color-orange;
      @include transition( 0.3s ease-out background-color );

      &.hover,
      &:hover{
        background: mix( $color-orange, white, 10% );
      }

      &.active,
      &.active:hover, 
      &.focus, 
      &:active, 
      &:focus{
        color: white;
        background: $color-orange;
        font-weight: 300;
      }
    }
  }
}

// Mobile Mixin
@mixin infographic-mobile(){
  .infographic{

    .fixed{
      position: static !important;
    }

    .infographic-content{ 
      position: static;
      padding-top: 1px;

      li{
        position: static;
        opacity: 1;
        margin-bottom: 30px;
        border-bottom: 1px solid mix(white, $brand-primary, 8%);

        &:last-child{
          border-bottom: none;
        }

        img,
        svg{
          display: block;
          width: 100%;
          height: auto;
          margin: 20px 0;
        }
      }
    }

    .infographic-graph,
    .infographic-nav,
    .infographic-frame{
      display: none;
    }
    
    .infographic-frame li{
      outline: 1px solid white;
    }
  }

  #main-infographic{
    font-size: 0.875em;

    .infographic-content li{
      width: 100%;
      padding: 0 4% 30px;
      text-align: center;
      margin-top: 30px;
      
    }
  }

  #main-infographic-tooltip{
    display: none;
  }
}

// Iframe
.page-template-template-iframe{

  #main-infographic .infographic-content li .btn-next{
    visibility: hidden;
    text-align: right;
    top: 4px;

    .btn{
      background: $color-orange;
      border-color: $color-orange;
      color: white;
      font-weight: 300;

      .glyphicon{
        font-size: 0.875em;
      }

      &:hover{
        color: $color-orange;
        background: white;
      }
    }
  }
  #main-infographic .infographic-content li.active .btn-next{
    visibility: visible;
    position: relative;
    z-index: 90;
  }

  @media (max-width: $screen-md) and (min-width: 859px) {
    #main-infographic{
      font-size: 0.875em;
    }
  }

  @media (max-width: 859px) {
    @include infographic-mobile();
  }
}

@media (max-width: $screen-sm) {
  .infographic .infographic-nav,
  .infographic .infographic-nav.fixed{
    display: none;
  }

  .infographic .infographic-graph svg{
    width: 100%;
    height: auto;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  #patents-graph .axis text{
    font-size: 0.6em;
  }
}

@media (min-width: $screen-lg) {
  
  #main-infographic-menu{
    padding-right: 40px;
    padding-left: 40px;

    ul li .dropdown-region,
    ul li .dropdown-drug{
      width: 50%;
    }
    ul li .dropdown-toggle .glyphicon{
      top: 10px;
      right: 5px;
      font-size: 1em;
    }
  }
}

.page-template-template-article{

  @media (max-width: $screen-md) {

    @include infographic-mobile();
  }
}
