<!DOCTYPE html>
<html>

  <body class="{{ page.url | replace:'/',' ' | strip }} lang-{{ page.lang }}{% if page.layout == 'article' %} article{% endif %}">

    <div id="lang" data-lang="{{ page.lang }}"></div>
    <div class="container page-content">
      
      <h2>{{ page.title }}</h2>
      {% if page.subtitle %}
      <h3>{{ page.subtitle }}</h3>
      {% endif %}
      <h4>{{ page.description }}</h4>

      <p class="author">
        {% if page.author %}
        {{ site.data.locales[page.lang].by }} <span>{{ page.author }}</span>
        {% endif %}
      </p>
      <p class="date">
        {% if page.pub_date %}
          {% assign date_format = site.data.locales[page.lang].date.format %}
          {% assign m = page.pub_date | date: "%-m" | minus: 1 %}
          {% if site.data.locales[page.lang].date.months[m] %}
            {% assign date_format = date_format | replace: "%B", site.data.locales[page.lang].date.months[m] %}
          {% endif %}
          {{ page.pub_date | date: date_format }}
        {% endif %}
      </p>
    </div>

    {{ page.content | add_anchor_links }}

  </body>
</html>