/*
body{
  font-family: $font-family-serif;
}

h1,h2,h3,h4,h5{
  font-family: $font-family-sans-serif;
}
*/

html, body{
  width: 100%;
  height: 100%;
}

p{
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 30px;
}


// Titles

h1, h2, h3, h4, h5{
  font-family: $font-family-sans-serif;
}

h2{
  color: $brand-primary;
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
}
h3, h4, h5{
  color: $color-orange;
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0;
}

.no-padding {
  padding: 0;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.btn{
  text-transform: uppercase;
  border-radius: 0;
}

.fixed{
  position: fixed !important;
}

.full-height{
  position: relative;
  min-height: 100%;

  .container{
    position: relative;
  }
}

.bkg-green{
  background: $color-green-dark;
}
.bkg-orange{
  background: $color-orange;
}

.tooltip{

  .tooltip-inner {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid $color-orange;
    border-radius: 0;
    font-weight: 300;
  }
}


@mixin background-size( $value ) {
  webkit-background-size:   $value;
  -moz-background-size:     $value;
  -o-background-size:       $value;
  background-size:          $value;
}