/*
body{
  font-family: $font-family-serif;
}

h1,h2,h3,h4,h5{
  font-family: $font-family-sans-serif;
}
*/

html, body{
  width: 100%;
  height: 100%;
}

p{
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 30px;
}


// Titles

h1, h2, h3, h4, h5{
  font-family: $font-family-sans-serif;
}

h2{
  color: $brand-primary;
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
}
h3 {
  color: $color-orange;
  font-weight: 600;
  font-size: 26px;
  margin: 45px 0 30px;
}

h4, h5{
  color: $color-orange;
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0;
}

.no-padding {
  padding: 0;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.btn{
  text-transform: uppercase;
  border-radius: 0;
}

.fixed{
  position: fixed !important;
}

.full-height{
  position: relative;
  min-height: 100%;
  margin-bottom: 30px;

  .container{
    position: relative;
  }
}

.bkg-green{
  background: $color-green-dark;
}
.bkg-orange{
  background: $color-orange;
}

.tooltip{

  .tooltip-inner {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0;
    font-weight: 300;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
  }
}

.page-content .panel{
  clear: both;
  font-family: $font-family-sans-serif;
  background: mix( $color-green-light, white, 20% );
  padding: 2*$grid-gutter-width/3 $grid-gutter-width $grid-gutter-width/6;
  margin-top: $grid-gutter-width/6;
  margin-bottom: 4*$grid-gutter-width/3;
  border-radius: 0;

  h2, h3, h4, h5{
    color: $brand-primary;
    margin-top: $grid-gutter-width/6;
    margin-bottom: $grid-gutter-width/2;
  }

  p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: $grid-gutter-width/2;
  }

  strong{
    font-weight: 600;
  }

  .video-container{
    margin: $grid-gutter-width 0;
  }
  .video-container-caption{
    font-size: 1em;
    line-height: 1.375em;
  }
}


@mixin background-size( $value ) {
  webkit-background-size:   $value;
  -moz-background-size:     $value;
  -o-background-size:       $value;
  background-size:          $value;
}

// Override print styles
@media print {
  a {
    text-decoration: underline !important;
  }

  a[href]::after {
    content: "" !important;
  }

  .page-content .author{
    margin-top: 10px !important;
  }

  .video-map-polio-container,
  .heatmap-graph,
  .vaccines-disease-graph,
  .nav-page,
  .donate,
  .social-share,
  .next-article,
  .partners,
  .video-container,
  .video-container-caption,
  .footer{
    display: none;
  }
}