// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-float-breakpoint: 992px;  // Change Navbar collapsed to tablet resolution

$container-max-width:   1040px;

$page-content-container-width: 700px; 

$nav-page-height:       44px;

// Colors
$brand-primary:         #00797d;
$brand-secondary:       #fefed1;

$color-green-dark:      #0d4c57; 
$color-green:           $brand-primary;
$color-green-light:     #41a38d;
$color-blue:            #008f86; 
$color-orange:          #e2723b;
$color-brown:           #653015;
$color-yellow:          #bbd646;

$overlay-green:         darken($color-green-light, 15%); 
$overlay-blue:          darken($color-blue, 12%);
$overlay-orange:        darken($color-orange, 15%);
$overlay-yellow:        darken($color-yellow, 30%);

$tooltip-arrow-color:   white;  //$color-orange;
$tooltip-color:         $color-orange;
$tooltip-bg:            white;
$tooltip-opacity:       1;

// Font Size
$font-size-base:          16px !default;
$line-height-base:        1.25 !default; // 20/16

// Font Family
$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-serif:       'Source Serif Pro', Georgia, serif;